<% provide(:title, 'Sign up') %>
<body id="new">  	
<kiido><center>Sign up and be a kiido</center></kiido>
</br>
</br>
<div id="signingup">
<div class="row">
	<div id="video"><iframe width="640" height="480" src="http://www.youtube.com/embed/KvkpI26mR3A" frameborder="0" allowfullscreen></iframe></div>
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', :f => f %>
      <%= f.submit "Sign up", :class=> "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
</div>
</body>
